body {
    margin: 0;
}

h1 {
    color: rgb(71, 70, 64);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0;
    text-align: center;

}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img {
    height: 300px;
    width: 700px;
    display: block;
    margin: auto;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/*****Class selectors*****/

.module1 {
    background-color: grey;
    margin-top: 0;
    
  
    
  
}

.module2 {
    background-color: lightgrey;
    margin-top: 0;
    
}

.module3 {
    background-color: grey;
    margin-top: 0;
   
}
.module4 {
    background-color: lightgrey;
    margin-top: 0;
    
}







/*****ID selectors*****/












/*pseudo classes is used to define a special state of an element (mainly see them on hrefs)

An example is:

a:hover {
    color: pink;
}

This would change a href link to pink when hovered over.

The other states would be:   

unvisited link 
a:link {
    color: #FF0000;
  }
  
  visited link 
  a:visited {
    color: #00FF00;
  }
  
  mouse over link 
  a:hover {
    color: #FF00FF;
  }
  
  selected link
  a:active {
    color: #0000FF;
  }

  They should be written in the order.

*/