body {
    margin: 0;
}

h1 {
    color: rgb(71, 70, 64);
    font-family: quicksand;
    text-align: center;
    margin-top: 0;
    padding-top: 50px;
    font-size: 3rem;

}

h2 {
    font-family: quicksand;
    margin: 0;
    padding-top: 20px;
}

h3 {
    font-family: nunito;
    margin: 0;
    padding: 0;
}
img {
    height: 300px;
    width: 700px;
    display: block;
    margin: auto;
}

div {
    width: 80%;
    margin: auto;
}

p {
    margin: 0 10px 0 10px;
    padding: 10px 0 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

li {
    font-family: Arial, Helvetica, sans-serif; 
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: lightgrey;
    border-width: 7px;
    width: 40%;
    margin: 10px auto 0;
    padding: 10px 0 20px 0;
}


header {
    background-color: #f4f4f2;
}

main{
    background-color: #e8e8e8;
}

footer {

    background-color: #bbbfca;
}

/*****Class . selectors*****/


div.container1 {
    background-color: lightsteelblue;
}

div.container2 {
    background-color: lightyellow;
}

div.container3 {
    background-color: mintcream;
}

div.container4 {
    background-color: lightsteelblue;
}





/*****ID # selectors*****/












/*pseudo classes is used to define a special state of an element (mainly see them on hrefs)

An example is:

a:hover {
    color: pink;
}

This would change a href link to pink when hovered over.

The other states would be:   

unvisited link 
a:link {
    color: #FF0000;
  }
  
  visited link 
  a:visited {
    color: #00FF00;
  }
  
  mouse over link 
  a:hover {
    color: #FF00FF;
  }
  
  selected link
  a:active {
    color: #0000FF;
  }

  They should be written in the order.

*/