body {background-color: mistyrose;

}


h1 {color: magenta;
    text-align: center;

}


h2 {color: mediumpurple;
    text-align: center;

}

img {
    max-width: 300px;
    
}

li {
    background-color: lightsteelblue;
    color: navy;
    
}

table {
    background-color: paleturquoise;

}