
p {
    text-align: center;
}



.sidebar {
    width: 500px;
    height: 300px;
    background-color: yellow;
    float: left;
}


.main {
    width: 500px;
    height: 300px;
    background-color: blue;
    float: right;
}