
h1 {
    text-align: center;
    color: lightsteelblue;
    font-size: 50px;
}

p {
    text-align: center;
}

header {
    background-color: lightslategray;
    width: 500px;
    height: 200px;
    padding: 50px;
    border: 15px dotted black;
    margin: 20px auto;

}

main {
    background-color: lightslategrey;
    width: 500px;
    height: 200px;
    padding: 50px;
    border: 15px dotted black;
    margin: 20px auto;
}

footer {
    background-color: lightslategrey;
    width: 500px;
    height: 200px;
    padding: 50px;
    border: 15px dotted black;
    margin: 20px auto;
}

